<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="version" content="v1.0.0" />
    <style rel="stylesheet" type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
  
      html {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        text-align: justify;
        max-width: 2480px;
        justify-content: center;
      }
  
  
      .main-title {
        font-size: 1.5em;
        border-bottom: 3px solid #0c2340;
      }
  
      .second-level-title {
        font-size: 1.25em;
        border-bottom: 2px solid #0c2340;
        padding: 0px;
        width: 100%;
      }
  
      .third-level-title {
        font-size: 1em;
      }
  
  
      .main-table {
        border: 0px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        margin-top: 0px;
        /*empty-cells: show;*/
      }
  
      .table-cells {
        padding: 0.325em;
        text-align: left;
      }
  
      .table-rows {
        border: 0px solid #ddd;
        padding: 0.15em;
      }
  
      .table-headers {
        font-weight: lighter;
        font-style: italic;
        padding: 0.325em;
        text-align: left;
        max-width: 40%;
      }
  
  
      .caption {
        font-weight: lighter;
        font-size: 11px;
      }
  
      .element {
        padding: 0.325em;
        font-size: 12px;
      }
  
      .ce {
        width: 8vw;
      }
  
      em {
        font-style: normal;
      }
  
      ol {
        list-style-type: none;
        padding: 0;
  
      }
  
      ul {
        margin: 0;
        padding: 0;
      }
  
      ul li {
        display: inline;
      }
  
      img {
        max-width: 20vw;
        padding: 0;
      }
  
      section:not(.header) {
        margin-top: 10px;
      }
  </style>
  </head>

  <body>
    {{! COMPANIES HEADERS and COMMERCIAL TRANSACTION }}

    {{> commercialTransaction CommercialTransaction=Certificate.CommercialTransaction CertificateLanguages=Certificate.CertificateLanguages}}

    {{! PRODUCT DESCRIPTION }}

    <section>
      <h2 class="main-title pdf-pagebreak-before">
        {{i18n "ProductDescription" "certificateGroups" Certificate.CertificateLanguages}}
      </h2>
      <table class="main-table">
        <tbody>
          {{> productDescription ProductDescription=Certificate.ProductDescription CertificateLanguages=Certificate.CertificateLanguages}}
        </tbody>
      </table>
    </section>

    {{! INSPECTION }}

    <section class="pdf-pagebreak-before">
      {{#if Certificate.Inspection.length}}
        {{#each Certificate.Inspection}}
          {{> inspection Inspection=this CertificateLanguages=../Certificate.CertificateLanguages }}
        {{/each}}
      {{else}}
        {{#if Certificate.Inspection}}
          {{> inspection Inspection=Certificate.Inspection CertificateLanguages=Certificate.CertificateLanguages }}
        {{/if}}
      {{/if}}
    </section>

    {{#if Certificate.OtherTests}}
      <section>
        <h2 class="main-title">{{i18n "OtherTests" "certificateGroups" Certificate.CertificateLanguages}}</h2>
        {{#each Certificate.OtherTests}}
          {{! OtherTests-> NonDestructiveTests, OtherProductTests }}
          {{#typeOf this "object"}}
            <h3 class="second-level-title">
              {{ i18n @key "otherFields" ../Certificate.CertificateLanguages }}
            </h3>
            <table class="main-table">
              <tbody>
                {{#each this}}
                  <tr class="table-rows">
                    <th class="table-headers" colspan="2">{{@key}} {{this.Key}}</th>
                    <td class="table-cells">
                      {{ localizeValue this.Value this.Type ../../Certificate.CertificateLanguages.[0] }}
                      {{this.Unit}}
                    </td>
                    <td class="table-cells">{{this.Interpretation}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{! OtherTests-> D01 }}
          {{else}}
            {{#if this}}
              <table class="main-table">
                <tbody>
                  <tr class="table-rows">
                    <th class="table-headers" colspan="2">{{@key}}
                      {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
                    </th>
                    <td class="table-cells">{{this}}</td>
                    <td class="table-cells"></td>
                  </tr>
                </tbody>
              </table>
            {{/if}}
          {{/typeOf}}
        {{/each}}
      </section>
    {{/if}}

    {{! PRODUCT }}

    {{! VALIDATION }}
    {{> validation Certificate.Validation CertificateLanguages=Certificate.CertificateLanguages}}

    <footer>
      <p>
        {{!-- {{choose valueFromData 's1seven.com'}} --}}
        <em class="caption">Powered by <a href="https://s1seven.com">s1seven.com</a></em>
        <em style="color: lightgray; margin-left: 35%" class="caption">{{RefSchemaUrl}}</em>
        <br />
      </p>
    </footer>
  </body>

</html>